//@formatter:off
{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "env": {
        "browser": true,
        "es6":     true,
        "jasmine": true,
        "node":    true
    },
    "globals": {
        "TWX": true,
        "TW": true,
        "$": true,
        "XSS": true,
        "Encoder": true,
        "_": true
    },
    "rules": {
        /* Not errors. */
        "no-underscore-dangle": 0,
        "prefer-const":         0,
        "strict":               0,
        "valid-jsdoc":          0,

        "no-alert":             0, // make these a 2 when closer to production
        "no-console":           0, // make these a 1 when closer to production
        "no-warning-comments":  0, // make these a 1 when closer to production

        /* Warnings. */
        "key-spacing": [1,
        {
            "singleLine": {
                "afterColon":  true,
                "beforeColon": false
            },
            "multiLine": {
                "afterColon":  true,
                "align":       "value",
                "beforeColon": false
            }
        }],

        /* Errors. */
        "array-bracket-spacing":         [2, "never"],
        "arrow-spacing":                 2,
        "block-spacing":                 [2, "never"],
        "brace-style":                   [2, "1tbs", {"allowSingleLine": false}],
        "camelcase":                     2,
        "comma-spacing":                 2,
        "comma-style":                   2,
        "consistent-return":             2,
        "curly":                         2,
        "eol-last":                      2,
        "eqeqeq":                        2,
        "indent":                        [2, 4, {
            "SwitchCase": 1,
            "ignoreComments": true,
            "MemberExpression": "off",
            "FunctionExpression": {
                "parameters":  "first"
            },
            "FunctionDeclaration": {
                "parameters":  "first"
            }
        }],
        "keyword-spacing":               2,
        "max-len":                       [2, 150],
        "new-parens":                    2,
        "no-caller":                     2,
        "no-catch-shadow":               2,
        "no-confusing-arrow":            2,
        "no-const-assign":               2,
        "no-debugger":                   2,
        "no-dupe-args":                  2,
        "no-dupe-keys":                  2,
        "no-duplicate-case":             2,
        "no-else-return":                2,
        "no-empty-character-class":      2,
        "no-eval":                       2,
        "no-ex-assign":                  2,
        "no-extra-boolean-cast":         2,
        "no-floating-decimal":           2,
        "no-invalid-regexp":             2,
        "no-irregular-whitespace":       2,
        "no-labels":                     2,
        "no-lone-blocks":                2,
        "no-lonely-if":                  2,
        "no-mixed-spaces-and-tabs":      2,
        "no-multi-spaces":               [2, {"exceptions": {"VariableDeclarator": true, "AssignmentExpression": true}, "ignoreEOLComments": true}],
        "no-multiple-empty-lines":       2,
        "no-negated-in-lhs":             2,
        "no-nested-ternary":             2,
        "no-octal":                      2,
        "no-regex-spaces":               2,
        "no-return-assign":              2,
        "no-self-assign":                2,
        "no-self-compare":               2,
        "no-sequences":                  2,
        "no-shadow":                     2,
        "no-shadow-restricted-names":    2,
        "no-trailing-spaces":            2,
        "no-undef":                      2,
        "no-undef-init":                 2,
        "no-unexpected-multiline":       2,
        "no-unneeded-ternary":           2,
        "no-unreachable":                2,
        "no-unused-expressions":         2,
        "no-unused-vars":                [2, {"args": "none"}],
        "no-use-before-define":          2,
        "no-useless-call":               2,
        "no-useless-concat":             2,
        "no-whitespace-before-property": 2,
        "no-with":                       2,
        "object-curly-spacing":          2,
        "operator-linebreak":            2,
        "quotes":                        [2, "single", "avoid-escape"],
        "quote-props":                   [2, "as-needed"],
        "semi":                          [2, "always"],
        "space-before-blocks":           2,
        "space-in-parens":               2,
        "space-before-function-paren":   [2, "never"],
        "space-infix-ops":               2,
        "space-unary-ops":               2,
        "valid-typeof":                  2,
        "wrap-iife":                     2
    }
}

