$light-mode-nav: #ededf1;
$light-mode-font-color: #363636;
$dark-mode-nav: #1e1e30;
$dark-mode-font-color: #c5c5c5;
$global-font-color: #6c757d;
/*
* Global styles
*/
body {
    margin-bottom: 60px;
}
main {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: 0;
    overflow-y: auto;
}
h1, h2, h3, h4, h5, h6 {
    font: 400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.col-form-label {
    color: $global-font-color;
}
.form-check-label {
    color: $global-font-color;
}
a:hover {
    text-decoration: none;
}
.form-style {
    padding-top: 40px;
}

/*
* Blog name and description
*/
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}
@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* 
* Pagination
*/
.blog-pagination {
    margin-bottom: 2rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
* Blog posts
*/
.blog-row {    
    margin-right: 0px;
    margin-left: 0px;
}
.blog-post {
    margin-top: 2rem;
    margin-bottom: 2rem;
    // min-height: 761px;
}
.blog-post-title {
    color: #3391ff;
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 0.25rem;
    color: #999;
    font: 400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.blog-post-body {
    font: 400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.create-post-tags {    
    max-height: 125px;
    overflow-y: auto;
}

/*
* Footer
*/
.blog-footer {
    color: #007bff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: .05rem solid #aeadad;
}
.blog-footer .container {
    line-height: 59px;
    color: $global-font-color !important;
}

/*
* Sidebar
*/
.sidebar-list {
    color: #007bff;
}
.sidebar-title {
    color: $global-font-color !important;
}
.badge-info {
    margin-right: 3px;
    background: rgba(0, 123, 255, 0.125);
    padding: 5px 10px;
    border: .05rem solid #aeadad;
    border-radius: 0.5rem;
    color: #007bff;
    margin-bottom: 3px;
}
.blog-sidebar {
    margin-top: 2rem;
}
@media (max-width: 750px) {
    .blog-sidebar {
        display: none;
    }
}

/*
* Navbar
*/
.nav-link {
    color: $global-font-color !important;
}
.nav-link.active {
    font-weight: bold;
}
.navbar .navbar-brand {
    color: $global-font-color !important;
}
.navbar .btn {
    color: $global-font-color !important;
}
.navbar {
    height: 60px;
    border-bottom: .05rem solid #aeadad;
}
.dropdown-item {
    color: $global-font-color;
}
.dropdown-menu {
    border: .05rem solid #aeadad;
    min-width: 115px;
}
.btn.no-outline {
    outline: none;
    box-shadow: none;
}

/*
* Responsive styles
*/
@media (min-width: 500px) {
    .blog-row {
        padding: 0 100px;
    }
    .navbar {
        padding: 0.5rem 115px;
    }
}
@media (min-width: 750px) {
    .blog-row {
        padding: 0 150px;
    }
    .navbar {
        padding: 0.5rem 165px;
    }
}
@media (min-width: 1000px) {
    .blog-row {
        padding: 0 200px;
    }
    .navbar {
        padding: 0.5rem 215px;
    }
}
@media (min-width: 1250px) {
    .blog-row {
        padding: 0 250px;
    }
    .navbar {
        padding: 0.5rem 265px;
    }
}
@media (min-width: 1500px) {
    .blog-row {
        padding: 0 200px;
    }
    .navbar {
        padding: 0.5rem 215px;
    }
}
@media (min-width: 1750px) {
    .blog-row {
        padding: 0 300px;
    }
    .navbar {
        padding: 0.5rem 315px;
    }

}

/*
* Theming
*/
.dark-mode {
    background: #161625;
    .navbar {
        background: $dark-mode-nav !important;
    }
    .blog-section {
        background: $dark-mode-nav;
    }
    .blog-footer {
        background: $dark-mode-nav;
    }
    .blog-post-meta {
        color: $dark-mode-font-color;
    }
    .blog-post-body {
        color: $dark-mode-font-color;
    }
    .form-control {
        background: $dark-mode-nav;
        color: $global-font-color;
    }
    .dropdown-menu.show {
        background: $dark-mode-nav;
    }
}
.light-mode {
    background: #f6f6f7;
    .navbar {
        background: $light-mode-nav !important;
    }
    .blog-footer {
        background: $light-mode-nav;
    }
    .blog-section {
        background: $light-mode-nav;
    }
    .blog-post-meta {
        color: $light-mode-font-color;
    }
    .blog-post-body {
        color: $light-mode-font-color;
    }
    .form-control {
        background: $light-mode-nav;
        color: $global-font-color;
    }
    .form-check-label {
        color: $light-mode-font-color;
    }
    .dropdown-menu.show {
        background: $light-mode-nav;
    }
}
